.addon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addon-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
    width: 450px;
    max-width: 100%;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: all 0.5s ease;
}
.addon-card label{
    color: #483EFF;
}
.addon-card:hover{
    border: 1px solid #483EFF;
}
.selectedAddOn{
    border: 2px solid #483EFF;
    background-color: #eff5ff;
}
@media screen and (max-width: 730px) {
    .addon-card{
        width: 90%;
        margin: 0 auto;
    }
    
}