:root {
  --gray: #817d92;
  --almostwhite: #e6e5ea;
  --deepgray: #24232c;
  --black: #18171f;
  --green: #a4ffaf;
  --tomato: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;
}

.password-generator__copy-text {
  display: none;
  color: var(--green);
  text-transform: uppercase;
}

.password-generator__copy {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

input[type="checkbox"] {
  accent-color: var(--green);
}

body {
  background-color: var(--black);
  color: var(--almostwhite);
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
}

.password-generator__title {
  font-size: 20px;
  color: var(--gray);
}

.password-generator__input-container {
  width: 540px;
  max-width: 100%;
  padding: 0 20px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: var(--deepgray);
  color: var(--almostwhite);
  margin: 0 20px;
}

.password-generator__input {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  font-size: 18px;
  width: 80%;
}

.password-generator__copy-icon img {
  cursor: pointer;
}

.password-generator__copy-icon img:hover {
  transform: scale(1.1);
}

.password-generator__form-container {
  width: 540px;
  max-width: 100%;
  padding: 10px 20px;
  display: flex;
  margin: 20px 20px 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--deepgray);
  color: var(--almostwhite);
}

.password-generator__character-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-generator__strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  margin: 20px 0;
  padding: 0 10px;
}

.password-generator__range {
  width: 100%;
  background: black;
  height: 12px;
  outline: none;
  border-radius: 12px;
  transition: background-color 0.2s;
  margin-bottom: 10px;
  accent-color: #a4ffaf;
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: inset 0px 3px 18px rgba(0, 0, 0, 0.35);
}

.password-generator__range::-webkit-slider-thumb {
  appearance: none;
  height: 13px;
  width: 13px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #a4ffaf;
}

.password-generator__range::-moz-range-thumb,
.password-generator__range::-ms-thumb {
  height: 13px;
  width: 13px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.password-generator__generate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #a4ffaf;
  color: black;
  padding: 0 10px;
  margin: 10px 0;
  border: 1px solid #a4ffaf;
  transition: all 0.5s;
}

.password-generator__generate-btn:hover {
  border: 1px solid #a4ffaf;
  background-color: transparent;
  cursor: pointer;
  color: #a4ffaf;
}

.password-generator__strength-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.password-generator__strength-value-indicator {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.strength-bar {
  width: 0%;
  height: 28px;
  background-color: transparent;
  border: 2px solid var(--gray);
  width: 10px;
}

.too-weak {
  background-color: var(--tomato);
  border: 2px solid var(--tomato);
}
.weak {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}
.medium {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}

.strong {
  background-color: var(--green);
  border: 2px solid var(--green);
}

@media screen and (max-width: 600px) {
  .password-generator__input-container {
    width: 90%;
    margin-block: 0 auto;
  }
  .password-generator__form-container{
    width: 90%;
    margin-block: 0 auto;
  }

}
