:root{
    --color-pink: rgb(171, 4, 90);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #0a031e;

}
.heading{
    color: var(--color-pink);
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
}
#container{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    background-color: white ;
    gap: 5px;
}
.header input{
    padding: 3px 5px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: rgb(0, 0, 0, 0.02);
    outline: none;
    border: 1px solid rgb(198, 193, 193);
}
.header button{
    padding: 3px 5px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: var(--color-pink);
    color: white;
    outline: none;
    cursor: pointer;
}
#sort{
    background-color: rgba(43, 177, 16, 0.8);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    width: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#todo-container{
    margin-top: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.todo-item{
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(119, 115, 115, 0.02);
    border-radius: 4px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-left: 4px solid rgba(23, 231, 20, 0.5);
}
.todo-description{
    font-size: 14px;
    color: rgb(71, 69, 69);
}
.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
     gap: 10px;
}
.todo-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* ========= header =======*/


/* ==== todo description========*/

.todo-description{
    margin-block: 10px;
}

.icon{
    width: 18px;
    height: 18px;
}

.delete:hover{
  fill: red;
  cursor: pointer;
  transition: all 0.1s ease;
}

.edit:hover{
    color: red;
    cursor: pointer;
    transition: all 0.1s ease;
  }