:root{
    --color-pink: rgb(171, 4, 90);
    --color-green: #009c08;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: white;
} 

/* =======heading========*/
.heading{
    background-image: url('./banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}
.heading h1{
    font-size: 50px;
    text-align: center;

}

.todo-head{
 display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  max-width: 96%;
  margin: 0 auto;
}
.todo-head h1{
    font-size: 30px;
    font-weight: 800;
}
.add-task{
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.add-task img{
    width: 16px;
    height: 16px;
    color: white;
    fill: white;
}
.add-task button{
    border: none;
    background-color: transparent;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}


/*==========main==========*/
.main{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    align-items: center;
}
#container{
    border-radius: 10px;
    width: 500px;
    max-width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: left;
}

/*==========form============*/
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 400px;
    max-width: 100%;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    background-color: white ;
    gap: 5px;

}
.form input{
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(198, 193, 193);
}
.form button{
    padding: 5px 5px;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    background-color: var(--color-green);
    color: white;
    outline: none;
    cursor: pointer;
}

.form-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-head h1{
    font-size: 20px;
    font-weight: 800;
}

.form-head p{
    font-size: 30px;
    margin-left: 5px;
}

.task-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
.task-description{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
#description{
    outline: none;
    border: 1px solid gray;
    padding: 10px;
}
#sort{
    background-color: rgba(43, 177, 16, 0.8);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    width: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#todo-container{
    margin-top: 30px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    max-width: 100%;
}
.todo-item{
    background-color:white;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(119, 115, 115, 0.02);
    border-radius: 4px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: fit-content;
    border-left: 4px solid var(--color-green);
}
.todo-description{
    font-size: 14px;
}
.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.todo-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
     gap: 10px;
}
.todo-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}
.close{
    color: var(--color-green);
    cursor: pointer;
}

/* ========= header =======*/


/* ==== todo description========*/

.todo-description{
    margin-block: 10px;
}

.icon{
    width: 18px;
    height: 18px;
}

.todo-icons input.checkbox {
    background-color: #555;
    text-decoration: line-through;
}
.delete:hover{
  fill: red;
  cursor: pointer;
  transition: all 0.1s ease;
}

.edit:hover{
    color: red;
    cursor: pointer;
    transition: all 0.1s ease;
  }

  .todo-controls{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 8px 15px;
    margin: 30px 0;
    gap: 1px;
  }

  .sort{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    background-color: #03580780;
    padding: 8px 15px;
    cursor: pointer;
  }

  .sort:hover{
    background-color: #035807;
    transition: all 0.5s ease;
  }
   
  input[type="checkbox"]{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.1s ease;
  }
  .completed{
    text-decoration: line-through;
    color: #ccc;
  }

  @media screen and (max-width: 350px){
    .todo-controls{
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }
  }