:root {
  --primary-color: #7C5DFA;
  --secondary-color: #9277FF;
  --tertiary-color: #7E88C3;
  --base-black: #0C0E16;
  --grey: #DFE3FA;
  --dark-bg: #141625;
  --light-bg: #F8F8FB;
  --error-color: #EC5757;
  --base-dark: #252945;
  --secondary-dark: #1E2139;  
  --tertiary-dark: #888EB0;  
  --light-pink: #9277FF;      
}
h1{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.form-control{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.form-control input{
  padding: 0.3em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
}
.error{
  color: red;
}