.invoice__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .invoice__card:hover {
    border: 1px solid var(--primary-color);
  }

  .invoice__id {
    font-weight: bold;
    color: #7c5dfa;
  }
  
  .invoice__date,
  .invoice__client,
  .invoice__total {
    color: #888eb0;
    margin: 5px 0;
  }
  
  .invoice__total {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .invoice__status {
    padding: 10px 12px;
    border-radius: 8px;
    width: 104px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
  
  .status__paid {
    background-color: #e9fce9;
    color: #33d69f;
  }
  
  .status__pending {
    background-color: #fff8d9;
    color: #ff8f00;
  }

  .status__draft {
    background-color: rgb(0, 0, 0, 0.1);
    color: #888eb0;
  }
  
  .invoice__card > span:before {
    content: '●';
    margin-right: 6px;
  }
  .invoice__arrow{
    color: var(--primary-color);
  }

  .invoice__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .invoice__Link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .invoice__details{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
  }