/*============sidebar=============*/
.sidebar {
  background-image: url("../../assets/bg-sidebar-desktop.svg");
  background-position: fixed;
  background-repeat: no-repeat;
  height: 558px;
  display: flex;
  flex-direction: column;
  width: 274px;
  max-width: 100%;
  margin-left: 20px;
}
.sidebar-link-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  margin-top: 40px;
  gap: 20px;
  background-color: transparent;
  cursor: pointer;
}
.sidebar-link-index {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 20px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
.sidebar-link-text .step {
  color: var(--light-blue);
  text-transform: uppercase;
  font-size: 14px;
}
.sidebar-link-text .title {
  color: var(--white-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar-link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (max-width: 730px) {
  .sidebar-link-text {
    display: none;
  }
  .sidebar {
    background-image: url("../../assets/bg-sidebar-mobile.svg");
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 60px;
    padding-left: 100px;
    align-items: center;
    z-index: 1;
    background-repeat: no-repeat;
    margin-left: 0;
    background-size: contain;
    background-position: center;
  }
  .sidebar-link{
   margin-top: 100px;
  }
}
