body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(191, 240, 253);
}
#container{
    border: 1px solid #9b9797;
    padding: 0 20px;
}
.settings-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid rgb(118, 110, 110);
    width: 400px;
    gap: 5px;
    max-width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
}
.settings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.settings label{
    font-weight: bold;
}
#clock{
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 0;
    border: 1px solid gray;
}
select{
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
input[type="color"]{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}